/* resets */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

img{
    vertical-align: top;  
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color:#f5f5f5;
    padding: .5rem 0;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buscador button {
    padding: .2rem;
    background-color: #000;
    color: #f5f5f5;
    border:none;
}

.user{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
input{
    padding: .2rem;
}

.registro{
    background: #E5C72F;
    border: none;
    color: #000;
    padding: .2rem .8rem;
    margin: 0 .2rem;
}
a.registro{
    display: inline-block;
    text-decoration: none;
}

.cabezera{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
ul.menu li{
    list-style:none;
    margin: 1rem;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.banner{
    position: relative;
}

h2{
    font-size:3rem;
    padding: 3rem 0;
    margin: auto;
    text-align: center;
}
.banner div{
    position: absolute;
    top:0;
    left: 0;
    margin:auto;
    color: #fff; 
}
h2.titBaner{
    padding-bottom: .5rem;
    color: #fff; 
    text-shadow: 0px 0px 8px #000;
    font-weight: 400;
}
.boxLibros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
.libro{
    width: 250px;
    padding: 1rem;
    text-align: center;
}
.boxTitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgLibro {
    max-height: 250px;
    height: auto;   
}

h3 {
    font-weight: 600; 
    margin: 1rem auto .2rem auto; 
    text-align: center;
}
.fa-shopping-cart{
    margin-right: 1rem;
}

a.cesta{
    display: block;
    text-decoration: none;
    background-color: #E5C72F;
    color: #000;
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem auto;
    max-width: 200px;
}

.boxTitulo {
    min-height: 8rem;
}
.fondoSelec{
    background-color: #ccc;
    margin: 1rem 0;
    padding: 1rem 0;
}
.selectores{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
